@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p><h5><a href="https://localhost:44356/SetAccessRights/Index?cat=Screen9Video">Screen9Video</a></h5></p>
    <p><h5><a href="https://localhost:44356/SetAccessRights/Index?cat=UnEditedVideos">UnEditedVideos</a></h5></p>
    <p><h5><a href="https://localhost:44356/SetAccessRights/Index?cat=EditedVideos">EditedVideos</a></h5></p>
    <p><h5><a href="https://localhost:44356/SetAccessRights/Index?cat=NewVideos">NewVideos</a></h5></p>
    <p><h5><a href="https://localhost:44356/SetAccessRights/Index?cat=OldVideos">OldVideos</a></h5></p>
</div>
