@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h4><a href="https://localhost:44356/SetAccessRights/Index">Access rights</a></h4></p>
</div>
